body{
    margin-top: 0%;
    margin-left: 0%;
    width: 100%;
    height: auto; 
    overflow-x : hidden;
}
.menu-bar{
    position: absolute;
    color: white;
    width: 100%;
    height: 50px;
    padding-left: 28.5%;
}

.menu-li{
    float: left;
    padding:0px 5px;
    list-style: none;
    line-height: 50px;
    border-bottom: 1px solid white;
}

.menu-a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.norrebro{
    width: 100%;
    height: 20%;
    position: relative;
}

.menu-a:hover{
    color: blueviolet;
}


.fa {
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    width: 30px;
  }

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  .fa-search {
    line-height: 30px;
    color: white;
    padding-left: 20px;
    padding-right: 30px;
    border-right: 1px solid rgb(209, 202, 202);
  }

  .fa-globe {
    line-height: 30px;
    font-size: 20px;
    color: white;
    padding-left: 10px;
    /* padding-right: 10px; */
  }

  .guide{
    position: absolute;
    margin-top: 14%;
    margin-left: 5%;
    color: white;
  }
  .guide-p{
    margin-top: -5px;
    font-family:  sans-serif;
    font-size: 63px;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .guide-a{
    /* margin-top: -40px; */
    /* margin-left: 30px; */
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: Helvetica, sans-serif;
    border: 2px solid white;
    padding:15px 40px;
  }

  h2,h4{
    font-family:  Helvetica;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .norrebro-after{
    position: absolute;
    margin-top: -17%;
    display: flex;
   /* height: 90%; */
    width: 100%;
    z-index: 2;
  }

  .norrebro-after-div{
    /* float: left; */
    border: 1px solid white;
  }

.img-trans{
  width: 50%; 
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid white;
}

.image img{
  width: 100%;
  transition: 2s all ease-in-out;
  position: relative;
  z-index: -2;
}

  .image:hover img{
    position: relative;
    transform: scale(1.1);
    filter: brightness(70%);
    z-index: -10;
  }
  .image:hover overlay{
    /* transform: scale(1.1); */
    background-color: black;
    opacity: 0.5;
    z-index: -1;
  }
  .middle{
    overflow: hidden;
    margin-top: 36%;
    margin-left: 14%;
    width: 80%;
    /* height: 0%; */
  }

  .presents{
    width: 100%;
    height: 30%;
    text-align: center;
  }

  .presents h3{    
    font-size: 30px;
    font-weight: 200;
  }

  .tag p{
    /* padding: 0px 0px; */
    width: 100%;
    margin-top: -20px;
    font-size: 80px;
    font-family:sans-serif;
    position: absolute;
    font-weight: 200;
  }

  .order-btn{
    position: relative;
    margin-top: 9%;
  }

  .order-btn a{
    /* height: 100px; */
    
    color: black;
    font-size: 19px;
    font-weight: 800;
    text-decoration: none;
    border: 2px solid black;
    padding: 15px 50px;
  }

  .pod-outer-div{
    width: 100%;
    height: 600px;
    margin-top: 60px;
    background: rgb(32, 31, 31);
    /* display: flex; */
  }
  .pod-inner-div{
    margin-left: 75px;
    margin-top: 15px;
    width: 100%;
    height: 80%;
    display: flex;
    /* justify-content: space-between; */
  }

  .pod1-div{
    padding-left: 20px;
    width: 300px;
    /* border: 1px solid white; */
    
  }

  /* .pod1-div */

  .pod1-div p{
    color: white;
    /* font-size: 40px; */
    font-family: sans-serif;

  }

  .pod1-div a{    
    color: white;
    font-size: 19px;
    font-weight: 800;
    text-decoration: none;
    border: 2px solid white;
    padding: 15px 50px;
  }

  .pod2-div{
    margin-left: 20px;
    float: left;
    width: 74.3%;
    height: 500px;
    display: flex;
    vertical-align: middle;
    padding: 30px;
  }

  .pod2-div img{    
    height: 70%;
    padding: 10px 5px;
    
  }

.find{
  position: relative;
  margin-top: 6%;
}

  .find a{
    /* margin-top: 50px; */
    
    color: black;
    font-size: 25px;
    font-weight: 800;
    text-decoration: none;
    /* border: 2px solid black; */
    padding: 15px 50px;
  }

  .footer-div{
    margin-top: 2%;
    width: 100%;
    height: 700px;
    background: rgb(46, 44, 44);
  }

  .footer-inside-div{
    margin-left: 20%;
    
    width: 60%;
    height: 90%;
    /* border: 1px solid white; */
  }

  .language{
    margin-left: -50px;
    padding-top: 50px;
    width: 60%;
    
  }

  .language ul li{

    float: left;
    
    padding-left: 20px;
    color: white;
    list-style: none;
  }

  .links{
    margin-top: 2%;
    width: 100%;
    height: 85%;
    /* border: 1px solid white; */
    display: flex;
  }

  .links-grid{
    /* border: 1px solid white; */
    width: 25%;
  }
  

  .links-ul li{
    margin-left: -10%;
    padding-top: 15px;
    list-style: none;
  }
  

  .links-ul li a{
    color: rgb(168, 160, 160);
    text-decoration: none;
    
    font-weight: 100;
    font-family: sans-serif;
    font-size: 15px;
  }